################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChallengeProject/Starter/obj/Release/net8.0
/ChallengeProject/Starter/obj/Debug/net8.0
/ChallengeProject/Final/obj
/ChallengeProject/Starter/bin/Debug/net8.0
/ChallengeProject/Starter/obj
